.button {
	-fx-border-width: 2;
	-fx-border-color: transparent;
	-fx-background-color: white;
	-fx-background-insets: 2 2 2 2;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.button:hover {
	-fx-background-color: derive(white, -10%); 
}

.button:pressed {
	-fx-background-color: derive(white, -20%); 
}

.button:focused {
	-fx-border-color: rgba(61,142,51,1.0);
}

.scroll-pane > .viewport {
	-fx-background-color: white;
}